body{
    background-image: url(../src/images/LandMobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.player-names{
    display: flex;
    justify-content: space-around;
}
.player-names h2{
    color: #ffffff;
}

div.live-bars-container{
    display: flex;
    justify-content: space-around;
}
div.life-bar{
    width: 30%;
    background-color: #000000;
    border-radius: 100px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    height: 20px;
}
div.life-bar-filling{
    height: 100%;
    width: 100%;
    background-color: #C80000;
    border-radius: 100px;
}

/* Counter style */
.counter{
    color: white;
    margin: 46%;
    font-size: 347%;
}
.containerCounter{
    text-align: center;
}

@media (min-width: 320px) {
    .counter{
        font-size: 194%;
    }
    .player-names h2{
        font-size: 14px;
    }
}  

@media (min-width: 640px) {
    .counter{
        font-size: 266%;
    }
    .player-names h2{
        font-size: 20px;
    }
}  

@media (min-width: 1025px) {
    .counter{
        font-size: 422%;
    }
    .player-names h2{
        font-size: 30px;
    }
}  

@media (min-width: 1280px) {
    .counter{
        font-size: 500%;
    }
}

