body{
    background-image: url(../src/images/LandMobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

@font-face{
    font-family: mortalK1;
    src: url(/src/fonts/mk1.ttf);
}
@font-face{
    font-family: mortalK2;
    src: url(/css/mk2.ttf);
}
@font-face{
    font-family: mortalK3;
    src: url(/css//MK4.TTF);
}

.player-names{
    display: flex;
    justify-content: space-around;
}
.player-names h2{
    color: #ffffff;
    display: inline-block;
    width: 50%;
    text-align: center;
    font-family: mortal-kombat-4;

    font-family: mortalK1;
}

div.live-bars-container{
    display: flex;
    justify-content: space-around;
}
div.life-bar{
    width: 30%;
    background-color: #000000;
    border-radius: 100px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    height: 20px;
}
div.life-bar-filling{
    height: 100%;
    width: 100%;
    background-color: #C80000;
    border-radius: 100px;
}
.life-bar:nth-child(2) .life-bar-filling{
    animation: life 4s forwards;
}
@keyframes life{
    0%{
        width: 100%;
    }
    30%{
        width: 70%;
    }
    60%{
        width: 50%;
    }
    100%{
        width: 20%;
    }
}

/* Counter style */
.counter{
    color: white;
    margin: 46%;
    font-size: 200%;

    font-family: mortalK1;
}
.containerCounter{
    text-align: center;
}

div.game-buttons{
    display: flex;
    justify-content: space-around;
}
#next-button{
    font-size: 3em;
    width: 8%;
    display: block;
    color: #ffffff;
    border: solid #ffffff 3px;
    border-radius: 4px;
    background-color: transparent;
    font-family: "mortal-kombat-4";
}
.kill-button{
    font-size: 3em;
    width: 8%;
    display: block;
    color: #ffffff;
    border: solid #ffffff 3px;
    border-radius: 4px;
    background-color: transparent;
    font-family: "mortal-kombat-4";
}

#next-button:hover, .kill-button:hover{
    cursor: pointer;
    border-color: #C80000;
    color: #C80000;
}
section.fight-zone{
    display: flex;
    justify-content: space-around;
}


@media (min-width: 320px) {
    .counter{
        font-size: 194%;
    }
    .player-names h2{
        font-size: 14px;
    }
    div.you-life-bar{
        display: none;
    }
    div.player-names .you-text{
        display: none;
    }
    div.player-names h2{
        width: 100%;
    }
    div.life-bar-changing{
        width: 100%;
    }
}  

@media (min-width: 640px) {
    .counter{
        font-size: 266%;
    }
    .player-names h2{
        font-size: 20px;
    }
}  

@media (min-width: 1025px) {
    .counter{
        font-size: 422%;
    }
    .player-names h2{
        font-size: 30px;
    }
}  

@media (min-width: 1280px) {
    .counter{
        font-size: 500%;
    }
    
}

