.pelea{
    height: 200px;
    width: 126px;
    /*transform: scaleX(-1);*/
    background-image: url('img/golpes.png');
    background-repeat: no-repeat;
    animation: golpe 1s steps(9) 1;    
}

@keyframes golpe{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1116px;
    }
}

.poder{
    height: 200px;
    width: 80px;
    padding-left: -40px;
    background-image: url('img/poder.png');
    background-repeat: no-repeat;
    animation: lanzamiento 0.6s steps(4) infinite;    
}

@keyframes lanzamiento{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -324px;
    }
}

.rayos{
    height: 200px;
    width: 200px;
    padding-left: -40px;
    background-image: url('img/rayos.png');
    background-repeat: no-repeat;
    animation: luces 1.5s steps(10) infinite;    
}

@keyframes luces{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -828px;
    }
}

.detenido{
    height: 140px;
    width: 77px;
    background-image: url('img/detenido.gif');
}


@media (min-width: 320px) {

}
@media (min-width: 640px) {

}
@media (min-width: 1025px) {

}
@media (min-width: 1280px) {
    
}