.pelea{
    height: 370px;
    width: 325px;
    
    background-image: url('img/golpes(720).png');
    background-repeat: no-repeat;
    animation: golpe 1s steps(9) paused;
    display: none;    
}

@keyframes golpe{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -2971px;
    }
}

.poder{
    height: 370px;
    width: 240px;
    padding-left: -40px;
    background-image: url('img/poder(720).png');
    background-repeat: no-repeat;
    animation: lanzamiento 0.5s steps(4) paused;
    display: none;    
}

.pause{
    animation-play-state: running;    
}

@keyframes lanzamiento{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -937px;
    }
}

.rayos{
    height: 100px;
    width: 200px;
    padding-left: -40px;
    background-image: url('img/rayos.png');
    background-repeat: no-repeat;
    animation: luces 1.5s steps(10) forwards;
    display: none;    
}

@keyframes luces{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -828px;
        transform: translateX(100%) ;
        transform: translateX(100%);
    }
}

.detenido{
    height: 370px;
    width: 200px;
    background-image: url('img/detenido.gif');
    background-size: 100%;
}

.victima{
    height: 370px;
    width: 230px;
    transform: scaleX(-1);
    background-image: url('img/victima1(720).png');
    background-repeat: no-repeat;
    animation: golpiza .5s steps(4) 2;
    display: none;      
}

@keyframes golpiza{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1019px;        
    }
}

.victima2{
    height: 370px;
    width: 190px;
    transform: scaleX(-1);
    background-image: url('img/victima2(720).png');
    background-repeat: no-repeat;
    animation: electrocutada .6s steps(4) infinite;
    display: none;
}

@keyframes electrocutada{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -770px;
    }
}

.victima3{
    height: 370px;
    width: 200px;
    transform: scaleX(-1);
    background-image: url('img/victima3(720).png');
    background-repeat: no-repeat;
    animation: noqueado 1s steps(7) infinite;
}

@keyframes noqueado{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1395px;
    }
}

.victima4{
    height: 370px;
    width: 145px;
    transform: scaleX(-1);
    background-image: url('img/victima4(720).png');
    background-repeat: no-repeat;
    animation: sincabe 1s steps(4) infinite;
}

@keyframes sincabe{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -611px;
    }
}

.victima5{
    height: 370px;
    width: 395px;
    transform: scaleX(-1);
    background-image: url('img/victima5(720).png');
    background-repeat: no-repeat;
    animation: muerto 1s steps(7) infinite;
}

@keyframes muerto{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -2809px;
    }
}

.detenidov{
    height: 375px;
    width: 200px;
    transform: scaleX(-1);
    background-image: url('img/detenidov.gif');
    background-size: 100%;
}